@media print {
    body {
        width: 100%;
    }
    section:first-child {
        float: left;
        width: 39%;
    }
    section {
        float: right;
        width: 60%;
    }
    section::after {
        content: "";
        display: block;
        clear: both;
    }
    section:last-child {
        margin-top: 16px;
    }
    .slide {
        display: block;
        margin-bottom: 16px;
    }
    .slide:nth-child(2),
    .slide:nth-child(3) {
        display: block;
    }
    .dot-wrapper {
        display: none;
    }
    footer {
        display: none;
    }
}