* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Karla', sans-serif;
}

body {
    background: #f1f1f1;
    color: #757575;
    font-size: 15px;
    line-height: 1.5;
    box-sizing: border-box;
}

h1 {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 10px 0;
}

h2 {
    font-weight: bold;
    font-size: 18px;
    padding: 10px 0;
}

h3 {
    font-size: 16px;
    padding: 10px 0;
}

ul li {
    font-size: 15px;
    line-height: 1.5;
    padding: 10px 0;
}

.list li {
    padding: 5px 0;
}

a {
    color: #757575;
    font-weight: bold;
    cursor: pointer;
}

.fa-print:before {
    color: #54aeb6;
}

.print-icon {
    position: absolute;
    right: 16px;
    top: 16px;
}

main {
    width: 100%;
    margin-top: 16px;
    overflow: hidden;
}

.main-inner {
    padding: 0 16px;
}

section {
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile {
    position: relative;
}

.profile img {
    width: 100%;
    border-radius: 10%;
    border: 1px solid #ccc;
}

.profile-name {
    text-align: center;
}

.picture-inner {
    width: 150px;
    margin: auto;
    padding-top: 16px;
}

.container {
    padding: 10px 16px;
    margin-bottom: 16px;
    overflow: hidden;
}

.fa {
    vertical-align: middle;
    color: #54aeb6;
}

.fa-map-marker:before,
.fa-envelope-o:before {
    font-size: 1.5em;
}

.fa-user:before,
.fa-book::before,
.fa-map-marker:before,
.fa-mobile:before {
    padding-right: 20px;
}

.fa-envelope-o:before {
    padding-right: 12px;
}

.info {
    padding: 10px 0;
}

.info:nth-child(2) {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.date-icon {
    color: #54aeb6;
}

.fa-mortar-board:before,
.fa-graduation-cap:before,
.fa-briefcase:before,
.fa-star:before,
.fa-code:before {
    padding-right: 15px;
}

.fa-calendar:before {
    padding-right: 10px;
    vertical-align: super;
}
.swiper-container {
    height: 400px;
}

.swiper-pagination-bullet {
    background: #ffffff !important;
    border: 1px solid #54aeb6 !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    background:#54aeb6 !important;
}

.background-slide {
    height: 400px;
    display: block;
    background-position: center  center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background: #54aeb6;
    text-align: center;
}

.footer-inner {
    padding: 10px 0;
}

.fa-github {
    color: #757575;
}

.fa-github:hover {
    color: #fff;
}